@media (min-width:600px)
{
    .main-container
    {
    text-align:center;
    padding: 2em ;
        header nav{
                display: flex;
                justify-content:space-between;
                align-items:center;
        header p{
                padding: 0em 20px;
                padding-bottom: 10px 20px;
                margin: 0;
                display: block;
                background-color: grey;
                color: white;
                font-size: 18px;
                }
        header .row{
            padding: 0.5em 0;   
                header .row h1 {
                    font-weight: 700;
                        margin: 0;
                            }
    
                    }
            }
    }
}